@import "tailwindcss";

@theme {
  --color-brand-indigo: #2F00B9;
  --color-brand-indigo-dark: #5733E0;
  --color-brand-gold: #E8BF3C;
  --color-brand-black: #000000;
  --font-sans: var(--font-jakarta);
}

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fafafa;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}
